<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/isftdb?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">pratesis</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="com/softhaxi/insofth/dao/FinanceAccount.hbm.xml"/>
    <mapping resource="com/softhaxi/insofth/dao/FinanceAccountGroup.hbm.xml"/>
    <mapping resource="com/softhaxi/insofth/dao/FinanceActivity.hbm.xml"/>
    <mapping resource="com/softhaxi/insofth/dao/ApplicationVariable.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
