.button {
    -fx-font-weight: bold;
}

.headerPane {
    -fx-background-color: #d1d1d1;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}